.header {
  width: 100%;
  background-color: #CFE7D8;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.headerBox {
  max-width: 1200px;
  padding: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* 햄버거 메뉴 */
.headerHam {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.headerHam span {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.nav ul li {
  cursor: pointer;
  font-weight: 500;
}

.headerBtn {
  display: flex;
  gap: 10px;
  margin-right: 16px;
}

.headerBtn button {
  background-color: white;
  width: 90px;
  border: none;
  padding: 6px 10px;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  bottom: 4px;
}

@media (max-width: 768px) {
  .headerHam {
    margin-right:15px;
    display: flex;
    position: relative;
    bottom: 4px;
  }

  .nav {
    flex-direction: column;
    width: 100%;
    background-color: #CFE7D8;
    padding: 1rem 0;
    display: none;
  }

  .nav.open {
    display: flex;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .headerBtn {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
}